* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainTomato: tomato;
  --mainYellow: yellow;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  background: white;
}